*{
	margin: 0;
	background-color: #0495ef;
	color: white;
}

#app{
	padding-left: 1rem;
}

h1, h2, body{
	font-family: 'Roboto Condensed', sans-serif;
}

.fa{
	color: white;
	padding-top: 1rem;
}

.fa:hover{
	color: #686a6d;
}

.fa:visited{
	color: white;
}

.fa-github-square{
	padding-left: 1rem;
}

p{
	position: absolute;
	bottom: 0;
}